<app-navbar></app-navbar>

<div class="device-width">
  <div class="container pull-left divv_box" style="background:white;width:80%; height:100px;">
    <table class="table table1">
      <tr>
        <th class="col-sm-2">
          Name
        </th>
        <th class="col-sm-2">
          Price
        </th>
        <th class="col-sm-2">
          24h Change
        </th>
        <th class="col-sm-2">
          24h High
        </th>
        <th class="col-sm-2">
          24h Low
        </th>
        <th class="col-sm-3">
          24 Volume
        </th>
      </tr>
      <tr>
        <td>
          {{price.symbol}}
        </td>
        <td [ngStyle]="{'color': pricecolor}">
          {{price.close}}
        </td>
        <td>
          {{price.change}}
        </td>
        <td>
          {{price.high}}
        </td>
        <td>
          {{price.low}}
        </td>
        <td>
          {{req}} BTC
        </td>
      </tr>
    </table>
  </div>
                                                                          <!-- Rates -->

  <div class="fluid-container pull-right" style="background:#415a91; border-style: 6px solid red; width:20%; height:600px;">
    <app-rates></app-rates>
  </div>
                                                                          <!-- Chart -->

  <div  class="container pull-left divv_box" style="background:#e8e5e5;width:80%; height:500px;">
    <app-graph></app-graph>
    </div>
  </div>
                                                                      <!-- Buy / Sell -->

  <div   class="container pull-left col-sm-12" style="background:#e8e5e5; height:350px;">
    <div   class="container col-sm-offset-2 div_box col-sm-3" style="position:relative;top:25px;background:white; height:300px;">
      <h3>
        Buy
      </h3>
      <br>
      <form [formGroup]="form" (submit)="onBuySubmit()">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1" style="width:30%;">Price</span>
          <div [ngClass]="{'has-error': (form.controls.Price.errors && form.controls.Price.dirty), 'has-success': !form.controls.Price.errors}">
            <input type="text" class="form-control" name="Price" autocomplete="off" placeholder="* Price" formControlName="Price"  aria-describedby="basic-addon1" [(ngModel)]="p1">
          </div>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1" style="width:30%;">Ammount</span>
          <div [ngClass]="{'has-error': (form.controls.Ammount.errors && form.controls.Ammount.dirty), 'has-success': !form.controls.Ammount.errors}">
            <input type="text" class="form-control" name="Ammount" autocomplete="off" placeholder="* Ammount" formControlName="Ammount"  aria-describedby="basic-addon1" [(ngModel)]="a1">
          </div>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1" style="width:30%;">Total</span>
          <input type="text" class="form-control" name="Total" autocomplete="off" placeholder="* Total" formControlName="Total"  aria-describedby="basic-addon1" value={{a1*p1}} readonly>
        </div>
        <br>
        <div class="form-group">
          <input  [disabled]="!form.valid" type="submit" class="btn btn-success" value="Submit" style="position:absolute;left:10%;width:80%;" />
        </div>
      </form>
    </div>
    <div   class="container col-sm-offset-2 col-sm-3 div_box " style="position:relative;top:25px;background:white; height:300px;">
      <h3>
        Sell
      </h3>
      <br>
      <form [formGroup]="form1" (submit)="onSellSubmit()">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1" style="width:30%;">Price</span>
          <div [ngClass]="{'has-error': (form1.controls.Price.errors && form1.controls.Price.dirty), 'has-success': !form1.controls.Price.errors}">
            <input type="text" class="form-control" name="Price" autocomplete="off" placeholder="* Price" formControlName="Price"  aria-describedby="basic-addon1" [(ngModel)]="p2">
          </div>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1" style="width:30%;">Ammount</span>
          <div [ngClass]="{'has-error': (form1.controls.Ammount.errors && form1.controls.Ammount.dirty), 'has-success': !form1.controls.Ammount.errors}">
            <input type="text" class="form-control" name="Ammount" autocomplete="off" placeholder="* Ammount" formControlName="Ammount"  aria-describedby="basic-addon1" [(ngModel)]="a2">
          </div>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1" style="width:30%;">Total</span>
          <input type="text" class="form-control" name="Total" autocomplete="off" placeholder="* Total" formControlName="Total"  aria-describedby="basic-addon1" value={{p2*a2}} readonly>
        </div>
        <br>
        <div class="form-group">
          <input  [disabled]="!form1.valid" type="submit" class="btn btn-danger" value="Submit" style="position:absolute;left:10%;width:80%;" />
        </div>
      </form>
    </div>
  </div>
                                                                          <!-- Bids / Asks -->

  <div   class="container pull-left col-sm-12" style="background:#e8e5e5; height:550px;">
    <div   class="container col-sm-offset-1  div_box col-sm-4" style="position:relative;top:25px;background:white; height:500px;">
      <h3>
        BIDS
      </h3>
      <br>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
            <th scope="col">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">0.01240000</td>
            <td>58.0002530</td>
            <td>0.14119367</td>
          </tr>
          <tr>
            <td scope="row">0.01240000</td>
            <td>58.0002530</td>
            <td>0.14119367</td>
          </tr>
          <tr>
            <td scope="row">0.01240000</td>
            <td>58.0002530</td>
            <td>0.14119367</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container col-sm-offset-2 col-sm-4 div_box " style="position:relative;top:25px;background:white; height:500px;">
      <h3>
        ASKS
      </h3>
      <br>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
            <th scope="col">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aski of askk">
            <td scope="row">58.0002530</td>
            <td>58.0002530</td>
            <td>0.80515151</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
                                                                          <!-- Market History -->

  <div   class="container pull-left col-sm-12" style="background:#e8e5e5; height:550px;">
    <div   class="container col-sm-offset-1  div_box col-sm-10" style="position:relative;top:25px;background:white; height:500px;">
      <h3>
        Market History
      </h3>
      <br>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="col-sm-2">DATE</th>
            <th scope="col" class="col-sm-2">BUY/SELL</th>
            <th scope="col" class="col-sm-2">BID/ASK</th>
            <th scope="col" class="col-sm-2">TOTAL UNITS(COIN)</th>
            <th scope="col" class="col-sm-2">TOTAL COST(BTC)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">0.01240000</td>
            <td>0.80515151</td>
            <td>58.0002530</td>
            <td>0.14119367</td>
            <td>0.80515151</td>
          </tr>
          <tr>
            <td scope="row">0.01240000</td>
            <td>0.80515151</td>
            <td>58.0002530</td>
            <td>0.14119367</td>
            <td>0.80515151</td>
          </tr>
          <tr>
            <td scope="row">0.01240000</td>
            <td>58.0002530</td>
            <td>0.14119367</td>
            <td>0.80515151</td>
            <td>0.80515151</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
                                                                          <!-- Open Order -->

  <div   class="container pull-left col-sm-12" style="background:#e8e5e5; height:350px;">
    <div   class="container col-sm-12 div_box " style="position:relative;top:25px;background:white; height:300px;">
      <h3>
        Open Order
      </h3>
      <br>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="col-sm-1">Date</th>
            <th scope="col" class="col-sm-1">Pair</th>
            <th scope="col" class="col-sm-1">Type</th>
            <th scope="col" class="col-sm-1">Price</th>
            <th scope="col" class="col-sm-1">Amount</th>
            <th scope="col" class="col-sm-1">Filled%</th>
            <th scope="col" class="col-sm-1">Total</th>
            <th scope="col" class="col-sm-1">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">0.01240000</td>
            <td>0.80515151</td>
            <td>58.0002530</td>
            <td>0.14119367</td>
            <td>0.80515151</td>
            <td>58.0002530</td>
            <td>0.80515151</td>
            <td>UnFilled</td>
          </tr>
          <tr>
            <td scope="row">0.01240000</td>
            <td>0.80515151</td>
            <td>58.0002530</td>
            <td>0.14119367</td>
            <td>0.80515151</td>
            <td>0.14119367</td>
            <td>0.80515151</td>
            <td>UnFilled</td>
          </tr>
          <tr>
            <td scope="row">0.01240000</td>
            <td>58.0002530</td>
            <td>0.14119367</td>
            <td>0.80515151</td>
            <td>0.80515151</td>
            <td>0.80515151</td>
            <td>0.80515151</td>
            <td>UnFilled</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
                                                                          <!-- Open History -->
  <div   class="container pull-left col-sm-12" style="background:#e8e5e5; height:350px;">
    <div   class="container col-sm-12 div_box " style="position:relative;top:25px;background:white; height:300px;">
      <h3>
        Trade History
      </h3>
      <br>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="col-sm-2">Coin</th>
            <th scope="col" class="col-sm-2">Date</th>
            <th scope="col" class="col-sm-2">Type</th>
            <th scope="col" class="col-sm-2">Price</th>
            <th scope="col" class="col-sm-2">Amount</th>
            <th scope="col" class="col-sm-2">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">QTUM / BTC</td>
            <td>2018-01-25 07:20:46</td>
            <td>BUY</td>
            <td>0.00369999 &nbsp;<em style="color:#919499;font-size:12px;">BTC</em></td>
            <td>0.4227 &nbsp;<em style="color:#919499;font-size:12px;">QTUM</em></td>
            <td>0.00156399 &nbsp;<em style="color:#919499;font-size:12px;">BTC</em></td>
          </tr>
          <tr>
            <td scope="row">QTUM / BTC</td>
            <td>2018-01-25 07:20:46</td>
            <td>BUY</td>
            <td>0.00369999 &nbsp;<em style="color:#919499;font-size:12px;">BTC</em></td>
            <td>0.4227 &nbsp;<em style="color:#919499;font-size:12px;">QTUM</em></td>
            <td>0.00156399 &nbsp;<em style="color:#919499;font-size:12px;">BTC</em></td>
          </tr>
          <tr>
            <td scope="row">QTUM / BTC</td>
            <td>2018-01-25 07:20:46</td>
            <td>BUY</td>
            <td>0.00369999 &nbsp;<em style="color:#919499;font-size:12px;">BTC</em></td>
            <td>0.4227 &nbsp;<em style="color:#919499;font-size:12px;">QTUM</em></td>
            <td>0.00156399 &nbsp;<em style="color:#919499;font-size:12px;">BTC</em></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
