
#back
{
  background-image: url("../../../assets/pic/bgg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* width: 50%; */
  height: 680px;
  background-size: cover;
}

.box
{
  position:absolute;
  top:20%;
  left:32%;
  width:35%;
  background:rgba(141, 159, 170,.4);
  color:#160b60;
  padding:50px;
}

.asd{
  position:relative;
  left:32%;
  width: 60%;
}

input[type=submit]
{
  position:relative;
  left:10%;
  width: 80%;
  background-color: #4F6DB1;
  color:#FFF;
  border: none;
  cursor: pointer;
}
h2
{
  font-size: 40px;
  text-align:center;
}
input[type=submit]:hover
{
  background-color: #2E57B5;
}


input[type=text],
input[type=password]
{
  position:relative;
  left:1%;
  width:90%;
}
